@{ 
    ViewBag.applicationName = "BackOffice";

    if (ViewData["menu"] == null)
    {
        ViewData["menu"] = "Backoffice";
    }

    var mainMenu = new
    {
        Backoffice = ((string)ViewData["menu"] == "Backoffice" ? "active" : ""),
        Membros = ((string)ViewData["menu"] == "Membros" ? "active" : "")
    };
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.applicationName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.RouteLink("Registo de Membros", "BackofficeHome", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@mainMenu.Backoffice">@Html.RouteLink("Backoffice Home", "BackofficeHome")</li>
                    <li class="@mainMenu.Membros">@Html.RouteLink("Membros", "BackMembers")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Logout", "index", "home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Clube Moon Members</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
