@{ 
    ViewBag.applicationName = "Clube de Membros";

    if (ViewData["menu"] == null)
    {
        ViewData["menu"] = "Home";
    }

    var mainMenu = new {
        Home = ((string)ViewData["menu"] == "Home" ? "active" : ""),
        Membros = ((string)ViewData["menu"] == "Membros" ? "active" : "")
    };
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewBag.applicationName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink((string)ViewBag.applicationName, "index", "home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@mainMenu.Home">@Html.ActionLink("Home", "index", "home")</li>
                    <li class="@mainMenu.Membros">@Html.ActionLink("Membros", "index", "members")</li>
                    @*<li>@Html.ActionLink("About", "about", "home")</li>
                    <li>@Html.ActionLink("Contact", "contact", "home")</li>*@
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("BackOffice", "backofficeIndex", "home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Clube Moon Members</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
