@model IEnumerable<MoonMembers.Models.members>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Nome da Cidade")
            @Html.DisplayNameFor(model => model.memberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memberEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memberPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memberBirthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memberOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.memberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberPhoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberBirthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memberOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.memberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.memberId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.memberId })
        </td>
    </tr>
}

</table>
