@model PagedList.IPagedList<MoonMembers.Models.Members>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Membros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Membros</h2>

@using (Html.BeginForm())
{
    <table style="width: 100%;">
        <tr>
            <td>
                @foreach (var item in Model)
                {
                    var age = DateTime.Now.Year - item.MemberBirthdate.Year;
                    if (DateTime.Now.DayOfYear < item.MemberBirthdate.DayOfYear)
                    {
                        age--;
                    }
                    string borderColor = (age <= 20 ? "green" : (age <= 60 ? "red" : "blue"));


                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
                        <div class="block2">
                            <div class="block2-pic hov-img0 member-grid" style="border-color: @borderColor;">
                                <img src="@item.MemberPhoto" alt="@item.MemberName image" class="img-thumbnail" />

                                <div class="block2-txt flex-w flex-t p-t-14" style="margin-top: 10px;">
                                    <div class="block2-txt-child1 flex-col-l " style="padding: 4px;">
                                        <div><b>@Html.DisplayFor(modelItem => item.MemberName)</b></div>
                                        <div>@Html.DisplayFor(modelItem => item.MemberEmail)</div>
                                        <div>@Html.DisplayFor(modelItem => item.MemberBirthdate)</div>
                                        <div>Idade: @age</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </td>
        </tr>
    </table>
    
    <br />
    <div id="Paging" style="text-align: center;display: block;">
        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
}
