@model MoonMembers.Models.MembersViewModel

@{
    ViewBag.Title = "Novo Membro";
    Layout = "~/Views/Shared/_Layout_Backoffice.cshtml";
}

<h1>Novo Membro</h1>
<hr />

@using (Html.BeginRouteForm("BackCreateMember", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.MemberName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MemberName, new { @class = "form-control", @placeholder = "Nome do membro" })
            @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MemberEmail, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MemberEmail, new { @class = "form-control", @placeholder = "E-mail do membro" })
            @Html.ValidationMessageFor(model => model.MemberEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MemberBirthdate, new { @class = "control-label col-md-2" })
        <div class="col-md-10 input-prepend date" id="birthDate" data-date="@DateTime.UtcNow" data-date-format="yyyy-MM-dd">
            <span class="add-on"><i class="icon-calendar"></i></span>
            @Html.TextBoxFor(model => model.MemberBirthdate, new { @type = "date" })
            @Html.ValidationMessageFor(model => model.MemberBirthdate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MemberPhoto, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ReplacePhoto, new { type = "file", @class = "form-control", accept = "image/gif,image/jpeg,image/pjpeg,image/png" })
            @Html.ValidationMessageFor(model => model.ReplacePhoto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar Membro" class="btn btn-success" />
            @Html.RouteLink("Cancelar", "BackMembers", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}
