@model MoonMembers.Models.Members

@{
    ViewBag.Title = "Remover Membro";
    Layout = "~/Views/Shared/_Layout_Backoffice.cshtml";
}

<h2>Remover Membro</h2>

<h3 class="text-danger">Deseja mesmo remover este membro?</h3>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.MemberName, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MemberName, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MemberEmail, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.MemberEmail, new { @class = "form-control", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MemberBirthdate, new { @class = "control-label col-md-2" })
        <div class="col-md-10 input-prepend date" id="birthDate" data-date="@DateTime.UtcNow" data-date-format="yyyy-MM-dd">
            <span class="add-on"><i class="icon-calendar"></i></span>
            @Html.TextBoxFor(model => model.MemberBirthdate, "{0:yyyy-MM-dd}", new { @type = "date", @disabled = "disabled" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <img src="@Model.MemberPhoto" alt="@Model.MemberName image" class="img-thumbnail" />
        </div>
    </div>
</div>

<!--using (Html.BeginForm("BackofficeDelete", "members", "BackMemberDeleteConfirm", (FormMethod)FormMethod.Post))-->
@using (Html.BeginRouteForm("BackMemberDeleteConfirm", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Remover Membro" class="btn btn-danger" />
            @Html.RouteLink("Cancelar", "BackMembers", null, new { @class = "btn btn-warning" })
        </div>
    </div>
}
